#admin-dashboard {
  width: 95vw;
  flex-direction: column;
  margin: auto;
  justify-content: start;
}
#maintable {
  display: grid;
  grid-template-rows: 40px auto;
  width: 100%;
  border-top: 1px solid;
  border-bottom: 1px solid;
  overflow: scroll;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: var(--header-bg);
}

#maintable button {
  background-color: #365486 !important;
  color: white;
  padding: 5px 15px;
  width: fit-content;
  border: none;
  border-radius: 8px;
}

#table-head {
  display: flex;
  flex-wrap: nowrap;
}
.head {
  flex: 1 0 calc(100% / 8);
  padding: 10px;
  box-sizing: border-box;
  border-right: 2px solid;
  background-color: yellowgreen;
}
.head:nth-child(1) {
  border-left: 2px solid;
}
#table-body > tr {
  display: flex;
  flex-wrap: nowrap;
}
.body {
  flex: 1 0 calc(100% / 8);
  padding: 10px;
  box-sizing: border-box;
  border-right: 2px solid;
  text-align: center;
}
.body:nth-child(1) {
  border-left: 2px solid;
}

.email {
  overflow-x: hidden;
}
#table-body tr:nth-child(even) * {
  background-color: #ededed;
}
.search {
  height: fit-content;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  margin: 10px;
  background-color: #ededed;
}
.search-input {
  padding: 5px 20px;
  border: none;
  border-bottom: 2px solid yellowgreen;
  border-end-end-radius: 8px;
  border-end-start-radius: 8px;
}
.search-button {
  padding: 5px 20px;
  margin: 0 5px 0;
  background-color: yellowgreen;
  color: white;
  border: none;
  border-radius: 8px;
}
.view-progress-button {
  padding: 5px 20px;
  margin: 0 5px 0;
  background-color: yellowgreen;
  color: white;
  border: none;
  border-radius: 8px;
}
.progress-container {
  width: 100%;
  display: grid;
  gap: 3px;
  grid-template-columns: repeat(3, 30%);
  margin-bottom: 5px;
}
.progress-table {
  display: grid;
  grid-template-rows: 25px 25px auto;
  width: 100%;
  margin: auto;
  padding: 5px;
  border-radius: 8px;
}
.headname {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  background: yellowgreen;
}
.headname h4 {
  color: white;
}
.head-details {
  display: grid;
  gap: 3px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 25px;
}
.head-details tr {
  margin: 0;
  padding: 4px;
}

.body-details {
}
.body-rows {
  display: grid;
  gap: 3px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 25px;
}
.body-rows:nth-child(even) {
  background-color: #ededed;
}
