@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.Profile-details {
  height: 90vh;
  background-color: #dcf2f1;
  grid-area: m;
}
.timeLeft-Container {
  padding: 10px;
  text-align: center;
  color: #365486;
}
.timer {
  font-size: 2rem;
  font-family: Roboto;
  font-weight: 600;
}
.names {
  display: flex;
  margin: 15px 0;
  padding: 15px;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 1px 10px #ffffff;
}
.profileImage {
  height: auto;
  width: auto;
  border: 1px solid;
  text-align: center;
  font-size: 2rem;
  border-radius: 50%;
  padding: 10px;
  background: #dcf2f1;
  color: #365486;
}
.userName {
  text-transform: uppercase;
  font-size: 2rem;
  color: #365486;
}
.contact {
  color: #365486;
  padding: 15px 4px;
  border: 1px solid #365486;
  margin: 5px 5px;
  border-radius: 5px;
}
.proceed {
  text-transform: capitalize;
  font-size: 16px;
  background: #365486;
  border-radius: 7px;
  color: #dcf2f1;
  border: none;
  padding: 10px;
}
@media (min-width: 768px) and (max-width: 991px) {
}
@media (max-width: 767px) {
  .timer {
    font-size: 1rem;
  }
  .timeLeft-Container * {
    font-size: 25px;
  }
  .profileImage {
    display: none;
  }
  .names {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
  }
  .userName {
    margin-bottom: 50px;
  }
}
