@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.Profile-details {
  min-height: 90vh;
  background-color: var(--btn-text);
  flex-direction: column;
  justify-content: start;
}
.timeLeft-Container {
  margin-top: 20px;
  font-size: 1.5rem;
  padding: 10px;
  text-align: center;
  color: var(--header-bg);
}
.timer {
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}
.names {
  display: flex;
  margin: 15px 0;
  padding: 15px;
  justify-content: space-between;
  align-items: center;
  /* box-shadow: 1px 1px 10px #ffffff; */
}
.profileImage {
  height: auto;
  width: auto;
  text-align: center;
  font-size: 2rem;
  border-radius: 50%;
  padding: 10px;
  background: var(--form-bg);
  color: var(--header-bg);
  font-weight: 900;
}
.userName {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 2rem;
  color: var(--btn-bg);
}
.dashboard-contact {
  color: var(--texts);
  font-weight: 700;
  width: 100%;
  padding: 15px 4px;
  border: 1px solid var(--header-bg);
  margin: 5px auto;
  border-radius: 8px;
  font-size: 1.5rem;
}
.contact-details {
  width: 90%;
}
.proceed {
  text-transform: capitalize;
  font-size: 16px;
  background: var(--header-bg);
  border-radius: 8px;
  color: var(--hero-texts);
  border: none;
  padding: 10px;
}
.details-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.names {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  width: 95%;
}
@media (min-width: 768px) and (max-width: 991px) {
}
@media (max-width: 767px) {
  .timer {
    font-size: 1rem;
  }
  .timeLeft-Container * {
    font-size: 25px;
  }
  .profileImage {
    display: none;
  }
  .names {
    flex-direction: column;
    justify-content: center;
  }
  .userName {
    margin-bottom: 50px;
  }
}
