@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
*{
  text-decoration: none;
  color: #000000
}
.bold {
  font-weight: 700;
  color: #365486;
}
.nextButton{
  margin-top: 10px;
}
.nextButton, .Signup, .Signin {
  text-transform: capitalize;
  font-size: 16px;
  background: #dcf2f1;
  border-radius: 7px;
  color: #365486;
  border: none;
  padding: 10px;
}
.Signup, .Signup{
  background: #365486;
  color: #dcf2f1
}
.courseBody {
  width: 90%;
  margin: 0 auto;
}
.unitHeading {
  display: block;
  text-align: center;
  margin: 10px 0;
  font-size: 2em;
}
.courseOutline {
  border-right: 5px solid #365486;
  margin-right: 15px;
  padding-right: 5px;
  height: auto;
}
.sectionList {
  list-style: none;
}
.sectionList li {
  padding: 10px 0;
}
.courseContentContainer {
  display: grid;
  grid-template-columns: 1fr 3fr;
}
.sectionQuote {
  padding: 15px 20px;
  background: #dcf2f1;
  color: #365486;
  margin: 10px auto;
}
.sectionHeading,
.sectionSubheading {
  font-weight: 600px;
  font-size: 16px;
  color: #365486;
  margin: 10px 0;
}
.sectionHeading {
  font-size: 20px;
}
.courseText {
  padding: 5px 0;
  margin: 5px 0;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.courseVideo {
  height: 300px;
  width: 500px;
}
.courseImageContainer{
    height: 400px;
    width: 100%;
    display: flex;
}
.courseImage {
  height: auto;
  min-height: 300px;
  max-height: 400px;
  margin: 5px;
}
.orderedList {
  margin-left: 10px;
}
.instruction-container{
  width: 90vw;
  margin:auto;
  margin-bottom: 20px;
}
.option{
  display: flex;
  justify-items: start;
  align-items: center;
  border: 1px solid #365486;
  border-radius: 5px;
  width: auto;
  max-width: 450px;
  margin: 10px 0;
}
input[type ="radio"]{
  height: 30px;
  width: 30px;
  margin: 10px;

}
input[type ="radio"] :active{
  background-color: #365486;
  color: #dcf2f1;
}
.option p{
  font-size: 1.3rem;
}
.option label {
  width: 100%;
  height: 100%;
}
.quizBody{
  width: 80%;
  margin: 10px auto;
}
.course-quiz-buttons{
  display: flex;
  justify-content: space-between;
}
.overLay{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #dcf2f1e6;
  z-index: 10000;
}
.modal{
  border-radius: 9px;
  height: auto;
  width: auto;
  max-width: 300px;
  padding: 20px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #365486;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100000000;
}
.modal-text{
  color: #dcf2f1;
}