@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
*{
  text-decoration: none;
  color: #000000
}
.bold {
  font-weight: 700;
  color: #365486;
}
.nextButton,
.prevButton, .Signup, .Signin {
  text-transform: capitalize;
  font-size: 16px;
  background: #dcf2f1;
  border-radius: 7px;
  color: #365486;
  border: none;
  padding: 10px;
}
.Signup, .Signup{
  background: #365486;
  color: #dcf2f1
}
.courseBody {
  width: 90%;
  margin: 0 auto;
}
.unitHeading {
  display: block;
  text-align: center;
  margin: 10px 0;
  font-size: 2em;
}
.courseOutline {
  border-right: 5px solid #365486;
  margin-right: 15px;
  padding-right: 5px;
  height: auto;
}
.sectionList {
  list-style: none;
}
.sectionList li {
  padding: 10px 0;
}
.purpose {
}
.courseContentContainer {
  display: grid;
  grid-template-columns: 1fr 3fr;
}
.sectionQuote {
  padding: 15px 20px;
  background: #dcf2f1;
  color: #365486;
  margin: 10px auto;
}
.sectionHeading,
.sectionSubheading {
  font-weight: 600px;
  font-size: 16px;
  color: #365486;
  margin: 10px 0;
}
.sectionHeading {
  font-size: large;
}
.courseText {
  padding: 5px 0;
  margin: 5px 0;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.courseOutline {
}
.courseVideo {
  height: 300px;
  width: 500px;
}
.courseImageContainer{
    height: 400px;
    width: 100%;
    display: flex;
}
.courseImage {
  height: auto;
  min-height: 300px;
  max-height: 400px;
  margin: 5px;
}
.orderedList {
  margin-left: 10px;
}
.instruction-container{
  width: 90vw;
  margin:auto;
  margin-bottom: 20px;
}