@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.bold {
  font-weight: 700;
}
a {
  color: var(--texts);
}
#courseBody {
  width: 95%;
  margin: 10px auto;
}
.courseBody {
  margin: auto;
}
.toQuiz {
  margin: 10px auto var(--btn-bg);
  border: 3px solid orange !important;
}
.nextButton {
  text-transform: capitalize;
  font-size: 16px;
  background: var(--header-bg);
  color: var(--texts);
  border-radius: 7px;
  border: none;
  padding: 10px;
}

.unitHeading {
  display: block;
  text-align: center;
  margin: 10px auto;
  font-size: 2em;
}
.courseOutline {
  padding-right: 5px;
  height: auto;
}
.sectionList {
  list-style: none;
}
.sectionList li {
  padding: 10px 0;
}
.courseContentContainer {
  display: grid;
  grid-template-columns: 1fr 3fr;
}
.sectionQuote {
  padding: 15px 20px;
  background: var(--header-bg);
  margin: 10px auto;
}
.sectionHeading,
.sectionSubheading {
  font-weight: 600px;
  font-size: 1.9rem;
  margin: 10px 0;
}
.sectionHeading {
  font-size: 1.5rem;
}
.courseText {
  padding: 5px 0;
  margin: 5px 0;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
}
.courseVideo {
  height: 300px;
  width: 500px;
}
.courseImageContainer {
  height: 400px;
  width: 100%;
  display: flex;
}
.courseImage {
  height: auto;
  width: auto;
  max-width: 800px;
  min-height: 300px;
  max-height: 400px;
  margin: 5px;
}
.orderedList {
  margin-left: 10px;
}
.instruction-container {
  grid-area: m;
  margin-bottom: 16px;
}
.option {
  display: flex;
  justify-items: start;
  align-items: center;
  border: 1px solid var(--header-text);
  border-radius: 5px;
  width: auto;
  max-width: 450px;
  margin: 10px 0;
}
input[type="radio"] {
  height: 30px;
  width: 30px;
  margin: 10px;
}
input[type="radio"] :active {
  background-color: var(--header-text);
  color: #dcf2f1;
}
.option p {
  font-size: 1.5rem;
}
.option label {
  width: 100%;
  height: 100%;
}
.quizBody {
  width: 80%;
  margin: 10px auto;
}
.course-quiz-buttons {
  display: flex;
  justify-content: space-between;
}
.overLay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  backdrop-filter: blur(40px);
  background-color: transparent;
  z-index: 10000;
}
.modal {
  border-radius: 9px;
  height: 300px;
  width: auto;
  max-width: 400px;
  padding: 20px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--header-text);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100000000;
}
.modal-text {
  color: var(--btn-text);
  height: 75%;
  width: 95%;
  margin: auto;
  font-size: 1.5rem;
  text-align: justify;
}
.closeModal {
  text-transform: capitalize;
  font-size: 16px;
  background: var(--btn-text);
  border-radius: 7px;
  color: var(--btn-bg) !important;
  border: none;
  padding: 10px;
  width: 95%;
  margin: auto;
}
#ul {
  list-style-type: disc;
}
.nextButtonContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ToChapterTwo {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
@media (max-width: 767px) {
  .courseBody {
    margin: auto;
  }
  .courseContentContainer {
    display: flex;
    flex-direction: column;
  }
  .instruction-container {
    width: 100%;
  }
  .unitHeading {
    display: block;
    text-align: center;
    margin: 10px 0;
    font-size: 2em;
  }
  .courseOutline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 20px;
    border: none;
    border-radius: 9px;
    background-color: var(--header-bg);
    font-weight: 700;
    margin-right: 0;
    padding-right: 0;
    height: auto;
  }
  .courseVideo {
    height: auto;
    min-height: 300px;
    max-height: 500px;
    width: 100%;
    margin: 10px 0;
  }
  .courseImageContainer {
    height: auto;
    width: auto;
    max-width: 100%;
    display: flex;
    flex-direction: column;
  }
  .courseImage {
    height: 250px;
    width: auto;
    max-width: 100%;
    margin: 10px 0;
  }
  .TimerContainer {
    padding: 10px;
    font-size: 25px;
    text-align: center;
    --background-color: #d5ffff;
    width: 100%;
    z-index: 1;
  }
  .modal {
    border-radius: 9px;
    height: 150px;
    width: auto;
    max-width: 400px;
    padding: 20px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100000000;
  }
  .modal-text {
    color: var(--background-color);
  }
}
