@import url("https://fonts.googleapis.com/css2?family=Kavoon&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: roboto slab;
  text-decoration: none;
}
.App {
  /* background: #DCF2F1; */
  display: grid;
  gap: 5px;
  min-height: 100vh;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 50px auto auto;
  grid-template-areas: "h h h h h h h h h h h h" "m m m m m m m m m m m m" "f f f f f f f f f f f f";
}
.timer {
  font-family: "Protest Strike", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 2vmin;
}
.header {
  grid-area: h;
  background: #365486;
  border-radius: 2px;
  width: 100vw;
}
main {
  grid-area: m;
  width: 100%;
}
/* BDS */
h1 {
  font-family: "Kavoon";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  color: #dcf2f1;
  margin-left: 20px;
}
.footer {
  width: 100vw;
  grid-area: f;
  bottom: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Kavoon";
  font-size: 30px;
  background: #365486;
  color: #dcf2f1;
}
.Homepage {
  height: 100%;
  width: 92vw;
  /* border: 1px solid #ff50001a; */
  border-radius: 7px;
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}
.text-container {
  grid-column: 1/2;
  width: 100%;
  margin: auto 0;
}
.form-container {
  grid-column: 2/-1;
  width: auto;
  max-width: 95%;
  height: fit-content;
  padding: 25px;
  background: #7fc7d9;
  border-radius: 9px;
}

.form-input {
  width: 90%;
  margin: 7px auto;
  background: #ffffff;
  border-radius: 9px;
  padding: 10px;
  border: none;
}
.form-input:focus {
  border: 2px solid #365486;
}
.errorMessage {
  width: 90%;
  color: red;
  margin: 0 auto;
  font-size: small;
}
.course-name {
  font-family: "Kavoon";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  color: #365486;
}

.course-description {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 42px;
  color: #365486;
}
@keyframes skeletonMotion {
  from {
    background-position: -300px 0;
  }
  to {
    background-position: 300px 0;
  }
}
.signin-page-container {
  grid-area: m;
  justify-content: center;
  align-items: center;
}
.Signin-page {
  height: auto;
  min-height: 85vh;
  max-height: 100vh;
  position: relative;
}
.signin-form {
  background: #7fc7d9;
  border-radius: 9px;
  padding: 20px;
  width: 300px;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.signin-form input {
  padding: 10px;
  margin: 10px 0;
  border-radius: 9px;
  border: none;
}
#signin-form button {
  padding: 5px;
}
.signup-form {
  display: flex;
  flex-direction: column;
}
.Signup {
  width: 90%;
  margin: 5px auto 5px auto;
}

.submitting {
  height: 40px;
  width: 40px;
  background: #365486;
  border-radius: 50%;
  border: 1px solid #1d9af2;
  opacity: 1;
  animation: spinner4 800ms linear infinite;
  transform: scale(0);
  margin: auto;
}

@keyframes spinner4 {
  to {
    transform: scale(1.5);
    opacity: 0;
  }
}

/* For large screens */
@media (min-width: 992px) {
  /* Styles for large screens */
}

/* For medium screens */
@media (min-width: 768px) and (max-width: 991px) {
  .App {
    display: grid;
    gap: 10px;
    margin: 0 20px;
    grid-template-rows: 40px auto 40px;
    margin: auto;
  }
  h1 {
    font-size: 30px;
    margin-left: 10px;
  }
}

/* For small screens */
@media (max-width: 767px) {
  .App {
    display: grid;
    gap: 3px;
    margin: 0 5px;
    grid-template-rows: 30px auto 30px;
    margin: auto;
  }
  h1 {
    font-size: 20px;
    margin-left: 5px;
  }
  .Homepage {
    background: #dcf2f1;
    margin: 0 10px;
    width: 100%;
    border-radius: 7px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 15px;
    justify-content: center;
    align-content: center;
  }
  .text-container {
    grid-column: 1/-1;
    grid-row: 1/2;
    margin: 0 auto;
    position: relative;
    border-radius: 9px;
  }
  .texts {
    position: absolute;
    bottom: 10px;
    margin: 0 20px;
  }

  .form-container {
    grid-column: 1/-1;
    grid-row: 2/-1;
    margin: 25px auto;
    align-self: center;
    width: 100%;
  }
  .footer {
    font-size: 16px;
  }
}
