@import url("https://fonts.googleapis.com/css2?family=Kavoon&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap");

:root {
  --header-bg: #365486;
  --header-text: #dcf2f1;
  --form-bg: #7fc7d9;
  --btn-text: #dcf2f1;
  --texts: #000000;
  --hero-texts: #ffffff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, helvetica, sans-serif;
  text-decoration: none;
  scroll-behavior: smooth;
  max-width: 100%;
}
body {
  position: relative;
}
.App {
  display: grid;
  gap: 0;
  /* width: 100vw; */
  min-height: 100vh;
  grid-template-rows: auto auto 50px;
  grid-template-areas: "h" "m" "f";
}
.timer {
  font-family: "Protest Strike", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 2vmin;
}
.header {
  grid-area: h;
  width: 100%;
  background-color: var(--header-bg);
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: fit-content;
}

.header-icons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
.header .header-icons a {
  font-style: normal;
  font-weight: 400;
}
.icon-container {
  margin-right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 40px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.menu-icon {
  position: relative;
  width: 100%;
  height: 70%;
}

.line {
  display: block;
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: var(--header-text);
}

.menu-rotate {
  animation: menu 0.5s linear forwards;
}
@keyframes menu {
  100% {
    transform: rotate(720deg);
  }
}

.line-1 {
  top: 0;
}

.line-2 {
  top: 50%;
  transform: translateY(-40%);
}

.line-3 {
  bottom: 0;
}
.close {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  font-weight: 200;
  color: var(--header-text);
  padding: 4px;
  border-radius: 50%;
}
.none {
  display: none;
}
.active {
  display: block;
}
h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 6rem;
  color: var(--header-text);
}
.navigation-list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--form-bg);
  width: 100%;
  position: sticky;
  top: 0;
}
.navigation-list li {
  margin: 0 10px;
  padding: 15px 10px;
}
.navigation-list li a {
  font-size: 1rem;
  color: var(--texts);
  font-weight: 900;
}
.navigation-list li a:hover {
  color: var(--btn-text);
}
main {
  grid-area: m;
  height: auto;
  min-height: calc(100vh - 100px);
  position: relative;
}
section {
  min-height: fit-content;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
section#signin-page {
  min-height: 100vh;
}
#hero {
  padding-top: 50px;
}
.hero {
  width: 90vw;
  border-radius: 7px;
  margin: 0 auto;
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 15px;
}
.texts {
  grid-column: 1/2;
  width: 90%;
  /* margin: auto; */
  display: flex;
  flex-direction: column;
}
.texts h3 {
  font-size: 2.5rem;
  color: var(--texts);
  margin-bottom: 1rem;
}
.texts h4 {
  font-size: 2.5rem;
  color: var(texts);
  margin-bottom: 1rem;
}
.texts .price {
  font-size: 5rem;
}
.texts img {
  height: 12rem;
  width: 12rem;
}
.hero-cta {
  width: 100%;
  font-size: 1.5rem;
  background-color: var(--header-bg);
  color: var(--hero-texts);
  border: none;
  border-radius: 8px;
  padding: 15px 0;
  margin: 8px 0;
}
.homepage-signin {
  grid-column: 2/-1;
  background-color: var(--form-bg);
  width: 90% !important;
  height: fit-content;
  padding: 20px;
  border-radius: 8px;
  color: var(--texts);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.signin-form label {
  color: var(--texts);
  font-weight: 600;
}
.homepage-signin input,
.signin-cta {
  width: 100%;
  padding: 5px;
  border-radius: 8px;
  margin-bottom: 10px;
  border: none;
  font-size: 1rem;
}
.homepage-signin input:focus {
  outline: 3px solid var(--header-bg);
}
.homepage-signin .signup-cta {
  width: 100%;
}
.signin-cta {
  margin-top: 10px;
  background-color: var(--header-bg);
  color: var(--hero-texts);
  font-size: 1.5rem;
}
.homepage-signin label {
  width: 100%;
  margin-top: 10px;
  font-weight: 600;
}
.homepage-signin .errorMessage,
.signin-form .errorMessage,
.signup-form .errorMessage {
  color: red;
  padding-top: 10px;
  width: 100%;
}
#about,
.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90vw;
  margin: 20px auto;
}
#about img {
  height: 300px;
}
.main-desc {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  align-items: center;
  flex-direction: row-reverse;
}
.main-desc div {
  display: flex;
  gap: 5px;
}
.main-desc .section-content {
  width: 50%;
}
#about .section-heading,
.contact .section-heading {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 20px;
}
#about .about-texts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  column-gap: 40px;
}
#contact {
  background-color: var(--btn-text);
}
.subsection-card {
  margin: 30px auto auto auto;
  height: auto;
  min-height: 272px;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 0 10px 5px var(--btn-text);
  width: 95%;
}
.subsection-heading {
  grid-row: 2/3;
  grid-column: 1/-1;
  place-self: center;
  padding: 20px 0;
}
.subsection-card:nth-child(1) {
  grid-column: 1/-1;
  box-shadow: none;
  padding: 0;
}
.subsection-card:nth-child(2) {
  grid-column: 1/2;
}
.subsection-card:nth-child(3) {
  grid-template-columns: 2/3;
}
.subsection-card:nth-child(4) {
  grid-template-columns: 3/-1;
}
section#curriculum {
  padding: 50px 0;
  width: 90vw;
  min-height: fit-content;
  justify-content: space-between;
  margin: auto;
  gap: 50px;
}
#curriculum ul {
  list-style: none;
}
#curriculum ul li {
  padding: 10px 0;
}
figure {
  font-size: 1rem;
  font-style: italic;
  font-weight: 700;
}
#curriculum figure img {
  /* aspect-ratio: 1/1; */
  /* width: 100%; */
  background-color: green !important;
}
i {
  font-size: 1rem;
  font-weight: 900;
}
br {
  height: 5px;
}
.subsection-card h4 {
  font-size: 1.7rem;
}

.section-subheading {
  text-align: center;
  font-weight: 600;
  padding: 10px 0;
}
#about,
.contact p,
.contact h4,
.contact a {
  font-size: 1.5rem;
}
.contact a {
  color: var(--header-bg);
  font-weight: 900;
}
.footer {
  font-size: 1.2rem;
  width: 100%;
  grid-area: f;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--header-bg);
  color: var(--form-bg);
  margin: 0;
}

@keyframes skeletonMotion {
  from {
    background-position: -300px 0;
  }
  to {
    background-position: 300px 0;
  }
}
.price {
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 50px;
}
.signup-form,
.signin-form {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: auto;
  background-color: var(--form-bg);
  padding: 30px 20px;
  border-radius: 8px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.signup-form h3,
.signin-form h3,
.homepage-signin h3 {
  color: var(--header-bg) !important;
  margin-bottom: 20px;
  font-weight: 900;
  font-size: 1.5rem;
}
.signup-form input,
.signin-form input {
  padding: 15px;
  border-radius: 8px;
  margin-top: 10px;
  font-size: 1.5rem;
}
.signup-form input:focus,
.signin-form input:focus {
  outline: 2px solid var(--header-bg);
}
input[type="number"]::-webkit-inner-spin-button {
  display: none;
}
.signup-cta {
  background-color: var(--header-bg);
  padding: 10px 0;
  border-radius: 8px;
  font-size: 1.5rem;
  border: none;
  margin-top: 10px;
  color: var(--hero-texts);
}
.submitting {
  height: 40px !important;
  width: 40px !important;
  background: var(--header-bg);
  border-radius: 50%;
  border: 1px solid var(--btn-text);
  opacity: 1;
  animation: spinner4 800ms linear infinite;
  transform: scale(0);
  margin: auto;
}

@keyframes spinner4 {
  to {
    transform: scale(1.5);
    opacity: 0;
  }
}
.menu-list {
  display: none;
}
/* For large screens */
@media (min-width: 992px) and (max-width: 1200px) {
  h1 {
    font-size: 40px;
  }
  .texts h3 {
    font-size: 2.5rem;
  }
  .texts h4 {
    font-size: 2rem;
  }
  .hero {
    margin-top: 30px;
    width: 90%;
    align-items: center;
    min-height: 70vh;
    gap: 50px;
    padding-bottom: 40px;
  }
  /* Styles for large screens */
}
.homepage-signin a {
  text-decoration: underline;
}
@media (min-width: 1300px) {
  .homepage-signin {
    width: 70% !important;
    margin-left: auto;
    margin-right: auto;
  }
}
/* For medium screens */
@media (min-width: 768px) and (max-width: 991px) {
  h1 {
    font-size: 2rem;
  }
  .header {
    position: sticky;
    top: 0;
    z-index: 10000;
  }
  .navigation-list {
    min-height: 100vh;
    top: 2.9rem;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10000;
  }
  .navigation-list li:hover {
    border-bottom: 3px solid var(--btn-text);
  }
  .navigation-list li {
    width: 40%;
    text-align: center;
  }
  .navigation-list li a {
    font-size: 2.5rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .hero {
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    gap: 50px;
    padding-bottom: 40px;
  }
  .texts {
    width: 100%;
    margin: 0;
  }
  .texts h3 {
    font-size: 2.5rem;
  }
  .texts h4 {
    font-size: 2rem;
  }
  .homepage-signin {
    width: 100%;
  }
  #about,
  .contact {
    width: 95%;
    padding: 0;
  }
  #about .main-desc {
    flex-direction: column;
  }
  .main-desc .section-content {
    width: 100%;
  }
  #about .about-texts {
    display: flex;
    flex-direction: column;
  }
  #about img {
    width: 100%;
  }
  .subsection-card {
    min-height: 0;
  }
  section#curriculum {
    min-height: fit-content;
    flex-direction: column;
    gap: 50px;
    align-items: start;
    padding-bottom: 50px;
  }
  #curriculum figure img {
    aspect-ratio: auto;
    width: auto;
    background-color: green !important;
  }

  .contact p,
  .contact h4 {
    font-size: 1.2rem;
    text-align: center;
  }
  .contact a {
    font-size: 1rem;
  }
  .signin-form,
  .signup-form {
    width: 90%;
  }
  .homepage-signin input,
  .signin-cta {
    padding: 10px 5px;
  }
}

/* For small screens */
@media (max-width: 767px) {
  .App {
    grid-template-rows: auto auto 50px;
  }
  h1 {
    font-size: 1.5rem;
  }
  .header {
    position: sticky;
    top: 0;
    z-index: 10000;
  }
  .navigation-list {
    min-height: 100vh;
    position: fixed;
    top: 2.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10000;
  }
  .navigation-list li:hover {
    border-bottom: 3px solid var(--btn-text);
  }
  .navigation-list li {
    width: 40%;
    text-align: center;
  }
  .navigation-list li a {
    font-size: 1.5rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .hero {
    margin-top: 10px;
    padding-top: 30px;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    gap: 50px;
  }
  .texts {
    width: 100%;
    margin: 0;
  }
  .texts h3 {
    font-size: 1.5rem;
  }
  .texts h4 {
    font-size: 1rem;
  }
  .homepage-signin {
    width: 100%;
  }
  .texts img {
    height: 6rem;
    width: 6rem;
  }
  .hero-cta {
    /* width: 60%; */
    padding: 10px;
    font-size: 1.2rem;
  }
  #about,
  .contact {
    width: 100%;
  }
  #about .main-desc {
    flex-direction: column;
  }
  .main-desc .section-content {
    width: 100%;
  }
  .main-desc div {
    flex-direction: column;
  }
  .main-desc div img {
    height: auto;
    width: 100% !important;
  }
  #about .about-texts {
    display: flex;
    flex-direction: column;
  }
  .subsection-card {
    min-height: 0;
  }
  section#curriculum {
    min-height: fit-content;
    flex-direction: column;
    gap: 50px;
    align-items: start;
    padding-bottom: 50px;
  }
  #curriculum figure img {
    aspect-ratio: auto;
    width: auto;
    background-color: green !important;
  }
  .contact p,
  .contact h4 {
    font-size: 1.2rem;
    text-align: center;
  }
  .contact a {
    font-size: 1rem;
  }
  .signup-form,
  .signin-form {
    width: 90%;
  }
  .homepage-signin input,
  .signin-cta {
    padding: 10px 5px;
  }
  .footer {
    font-size: 0.9rem;
  }
}
