@import url("https://fonts.googleapis.com/css2?family=Kavoon&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: roboto slab;
  text-decoration: none;
}
body {
  /* background: #DCF2F1; */
}
.timer{
  font-family: "Protest Strike", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 2vmin;
}
.header {
  width: 100vw;
  height: 50px;
  background: #365486;
  border-radius: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headerSignIn{
    margin-right: 30px;
}
/* BDS */
h1 {
  font-family: "Kavoon";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  color: #dcf2f1;
  margin-left: 20px;
}
.footer {
  bottom: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Kavoon";
  font-size: 30px;
  background: #365486;
  color: #dcf2f1;
  width: 100vw;
}
.Homepage {
  height: 65.6vh;
  width: 92vw;
  border: 1px solid #ff50001a;
  border-radius: 7px;
  margin: 40px auto;
}
.container {
  height: 90%;
  width: 90%;
  margin: auto;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.text-container {
  width: 40%;
}
.form-container {
  position: absolute;
  width: 45%;
  right: 5%;
  top: 10%;
  height: auto;
  padding: 25px;
  background: rgba(127, 199, 217, 0.1);
  border-radius: 9px;
}

.form-background {
  box-sizing: border-box;
  width: 48%;
  height: 100%;
  margin: auto 0;
  background: rgba(127, 199, 217, 0.3);
  border-radius: 9px;
}

.form-input {
  width: 90%;
  margin: 4px auto;
  background: #ffffff;
  border-radius: 9px;
  padding: 10px;
  border: none;
}
.form-input:focus {
  outline: 2px solid #365486;
}

.course-name {
  font-family: "Kavoon";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  overflow: hidden;
}

.course-description {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 42px;
}
@keyframes skeletonMotion {
  from {
    background-position: -300px 0;
  }
  to {
    background-position: 300px 0;
  }
}
.Signin-page{
  position: relative;
}
.signin-form {
  background: rgba(127, 199, 217, 0.3);
  border-radius: 9px;
  height: auto;
  padding: 20px;
  width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  display: flex;
  flex-direction: column;
}
.signin-form input{
  padding: 5px;
  margin: 10px 0;
}
#signin-form button{
  padding: 5px;
}