@import url("https://fonts.googleapis.com/css2?family=Kavoon&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: roboto slab;
  text-decoration: none;
}
.header {
  width: 100vw;
  height: 50px;
  background: #ff8000;
  border-radius: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* BDS */
h1 {
  font-family: "Kavoon";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  color: #ffffff;
  margin-left: 20px;
}

.signin {
  padding: 5px 10px;
  font-size: 20px;
  background: rgba(20, 174, 92, 0.9);
  border: 3px solid #14ae5c;
  border-radius: 10px;
  color: #ffffff;
  margin-right: 20px;
}
.signUp {
  padding: 5px;
  font-size: 20px;
  width: 90%;
  margin: 4px auto;
}
.footer {
  bottom: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Kavoon";
  font-size: 30px;
  background: #ff8000;
  color: whitesmoke;
}
.Homepage {
  height: 65.6vh;
  width: 92vw;
  border: 1px solid #ff50001a;
  border-radius: 7px;
  margin: 40px auto;
}
.container {
  height: 90%;
  width: 90%;
  margin: auto;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.text-container {
  width: 40%;
}
.form-container {
  position: absolute;
  width: 45%;
  right: 5%;
  top: 10%;
  height: auto;
  padding: 25px;
  background: rgba(255, 128, 0, 0.1);
  border-radius: 9px;
}

.form-background {
  box-sizing: border-box;
  width: 48%;
  height: 100%;
  margin: auto 0;
  background: rgba(255, 128, 0, 0.23);
  border-radius: 9px;
}

.form-input {
  width: 90%;
  margin: 4px auto;
  background: #ffffff;
  border-radius: 9px;
  padding: 10px;
  border: none;
}
.form-input:focus {
  outline: 2px solid rgba(20, 174, 92, 0.9);
}
ErrorMessage {
  color: red;
}
.course-name {
  font-family: "Kavoon";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  overflow: hidden;
}

.course-description {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 42px;
}
